{
  "singleQuote": true,
  "jsxSingleQuote": false,
  "trailingComma": "all",
  "semi": true,
  "printWidth": 100,
  "tabWidth": 2,
  "useTabs": false,
  "arrowParens": "always",
  "endOfLine": "lf",
  "bracketSpacing": true,
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "overrides": [
    {
      "files": ["./apps/be/**/*.ts"],
      "options": {
        "parser": "typescript",
        "plugins": ["@trivago/prettier-plugin-sort-imports"],
        "importOrder": ["^@nestjs", "^@", ".*"],
        "importOrderSeparation": true,
        "importOrderSortSpecifiers": true,
        "importOrderParserPlugins": ["typescript", "decorators-legacy"]
      }
    },
    {
      "files": ["./apps/fe/**/*.{js,jsx,ts,tsx,html,css}"],
      "options": {
        "plugins": ["@trivago/prettier-plugin-sort-imports", "prettier-plugin-tailwindcss"],
        "importOrder": ["^react", "^@", ".*"],
        "importOrderSeparation": true,
        "importOrderSortSpecifiers": true,
        
        "importOrderParserPlugins": ["typescript", "jsx", "decorators-legacy"],

        "tailwindStylesheet": "./apps/fe/src/index.css"
      }
    }
  ]
}
