@import 'tailwindcss';
@theme {
  --color-primary: #137fec;
  --color-black: #111418;
  --color-gray: #f0f2f4;
  --color-orange: #f97316;
  --color-brown: #9a3412;
  --color-violet: #a855f7;
  --color-purple: #4f46e5;
  --color-light-green: #22c55e;
  --color-dark-green: #166534;
  --color-parsley: #14532d;
  --color-jewel: #16654c;
  --color-pale-blue: #f6faff;
  --color-alert: #dc2626;
  --color-pink: #fee2e2;
  --color-dark-gray: #617589;
  --color-medium-gray: #e5e7eb;

  /* 티어 컬러 */
  --color-bronze: #966036;
  --color-silver: #a5a9b4;
  --color-gold: #e5b80b;
  --color-platinum: #2a9d8f;
  --color-diamond: #48cae4;
  --color-master: #1d3557;
}

@theme {
  --spacing-sidebar-open: 280px;
  --spacing-sidebar-close: 72px;
}

html {
  color: var(--color-black);
  background-color: var(--color-pale-blue);
}

body {
  font-family:
    'Pretendard Variable',
    'Pretendard',
    -apple-system,
    BlinkMacSystemFont,
    system-ui,
    Roboto,
    'Helvetica Neue',
    'Segoe UI',
    'Apple SD Gothic Neo',
    'Noto Sans KR',
    'Malgun Gothic',
    'Apple Color Emoji',
    'Segoe UI Emoji',
    'Segoe UI Symbol',
    sans-serif;
}

@layer base {
  button {
    cursor: pointer;
  }
}

.loader-dots {
  width: 40px;
  aspect-ratio: 2;
  --_g: no-repeat radial-gradient(circle closest-side, #617589 90%, transparent);
  background:
    var(--_g) 0% 50%,
    var(--_g) 50% 50%,
    var(--_g) 100% 50%;
  background-size: calc(100% / 3) 50%;
  animation: loader-dots 1s infinite linear;
}

@keyframes loader-dots {
  20% {
    background-position:
      0% 0%,
      50% 50%,
      100% 50%;
  }
  40% {
    background-position:
      0% 100%,
      50% 0%,
      100% 50%;
  }
  60% {
    background-position:
      0% 50%,
      50% 100%,
      100% 0%;
  }
  80% {
    background-position:
      0% 50%,
      50% 50%,
      100% 100%;
  }
}
